*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Odibee Sans', sans-serif;
}
/*BARRA DE MENU*/
.menu{
    width: 100%;
    height: 50px;
    background-color: #222;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: purple;
}   

.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
} 

label[for="bt-menu"]{
    padding: 5px;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    display: none;
}

#bt-menu{
    display: none;
}


@media(max-width: 800px){
    label[for="bt-menu"]{
        display: block;
    }
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    #bt-menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu ul li{
        width: 100%;
        float: none;
    }  
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-width: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
}

